
@model ADACA.Dto.LoanDto

@{
    ViewData["Title"] = "Loan Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card border-light mt-4 mb-3" style="max-width: 80rem;">
    <div class="card-header">Loan Transaction</div>

    <div class="card-body">
        <form asp-action="Loan">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="form-group">
                <fieldset>
                    <label asp-for="firstName" class="form-label"></label>
                    <input asp-for="firstName" class="form-control" />
                    <span asp-validation-for="firstName" class="text-danger"></span>
                </fieldset>
            </div>

            <div class="form-group mt-2">
                <fieldset>
                    <label asp-for="lastName" class="form-label"></label>
                    <input asp-for="lastName" class="form-control" />
                    <span asp-validation-for="lastName" class="text-danger"></span>
                </fieldset>
            </div>
            <div class="form-group mt-2">
                <fieldset>
                    <label asp-for="emailAddress" class="form-label"></label>
                    <input asp-for="emailAddress" class="form-control" />
                    <span asp-validation-for="emailAddress" class="text-danger"></span>
                </fieldset>
            </div>
            <div class="form-group">
                <div class="row">
                    <label asp-for="phoneNumber" class="form-label"></label>
                    
                    <div class="col-md-2 mt-2">
                        <input class="form-check-input" type="radio" value="Mobile" asp-for="mobileType" id="mobile" checked>
                        <label class="form-label" asp-for="mobileType">Mobile</label>
                        <input class="form-check-input" type="radio" value="Landline" asp-for="mobileType" id="landline">
                        <label class="form-label" asp-for="mobileType">Landline</label>
                    </div>
                    <div class="col-md-10">
                        <input asp-for="phoneNumber" class="form-control" />
                        <span asp-validation-for="phoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mt-2">
                <fieldset>
                    <label asp-for="businessNumber" class="form-label"></label>
                    <input asp-for="businessNumber" class="form-control" />
                    <span asp-validation-for="businessNumber" class="text-danger"></span>
                </fieldset>
            </div>
            <div class="form-group mt-2">
                <fieldset>
                    <label asp-for="loanAmount" class="form-label"></label>
                    <input asp-for="loanAmount" class="form-control" />
                    <span asp-validation-for="loanAmount" class="text-danger"></span>
                </fieldset>
            </div>
           
            <fieldset class="form-group mt-4">
                @foreach (var c in System.Enum.GetValues(typeof(Citizen)))
                {
                    <input class="form-check-input" type="radio" asp-for="citizen" value="@((int)c)" />
                    <label class="form-label" asp-for="citizen">@c</label>

                }
            <div>
                <span asp-validation-for="citizen" class="text-danger"></span>
            </div>
                
            </fieldset>
            <div class="form-group mt-2">
                <fieldset>
                    <label asp-for="timeTrading" class="form-label"></label>
                    <input asp-for="timeTrading" class="form-control" />
                    <span asp-validation-for="timeTrading" class="text-danger"></span>
                </fieldset>
            </div>
            <div class="form-group mt-2">
                <fieldset>
                    <label asp-for="countryCode" class="form-label"></label>
                    <input asp-for="countryCode" class="form-control" />
                    <span asp-validation-for="countryCode" class="text-danger"></span>
                </fieldset>
            </div>
            <div class="form-group mt-2">
                <fieldset>
                    <label asp-for="industry" class="form-label"></label>
                    <input asp-for="industry" class="form-control" />
                    <span asp-validation-for="industry" class="text-danger"></span>
                </fieldset>
            </div>
            <input class="btn btn-primary mt-4" type="submit" value="Save" />
        </form>
    </div>
</div>
